@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700'); 
 
body {
 font-family: 'Montserrat', sans-serif;
 background: #ecf0f1;
}
a {
  text-decoration: none;
}
/*****************************HEADER STYLES*****************************/
header {
 text-align: center;
}
header h1 {
 font-size: 64px;
 font-weight: 300;
 margin: 80px 0 25px;
 color: #2c3e50;
}
header h1 span {
 font-weight: 700;
}
header h2 {
 color: #bdc3c7;
 font-weight:300;
}
/*****************************FORM STYLES*****************************/
input[type="text"] {
 font: 300 28px 'Ubuntu', sans-serif;
 background: none;
 border: none;
 outline: none;
}
#todolistInput {
 width: 100%;
 height: 60px;
 padding: 20px;
}
#todoInput {
  margin: 0 0 20px 0;
}
/*****************************LIST STYLES*****************************/
.todolists {
 width: 95%;
 margin: 0 auto;
 list-style: none;
}
.todolist, .todo {
 width: auto;
 flex-basis: 60px;
 font-size: 20px;
 margin: 0;
 padding: 10px 20px;
 box-shadow: 0 -5px 10px -5px rgba(0,0,0,0.3);
 color: #34495e;
 transition: all .3s ease;
}
.todolist p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 120%;
}
.todo {
  margin-left: 20px;
  border-left: 10px solid rgba(0,0,0,0.3);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.todolist:hover {
 background: rgba(0, 0, 0, .02);
 cursor: pointer;
}
.done {
 text-decoration: line-through;
 color: #bdc3c7;
}
li span {
  float: right;
  color: #c0392b;
  transition: all 0.3s;
  opacity: 0.5;
  font-size: 67%;
}
span:hover {
  color: #e74c3c
  opacity: 1;
}
.todo span {
  opacity: 0;
  font-size: 100%;
}
.todo:hover span{
 opacity: 1;
}

/* MOBILE */
@media (max-width: 1000px) {
  .todo span {
    opacity: 0.5;
  }
}